@use "variables" as *;

@font-face {
  font-family: Pacifico;
  src: url(../assets/fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Righteous;
  src: url(../assets/fonts/Righteous/Righteous-Regular.ttf);
}
@font-face {
  font-family: "PT Sans Caption";
  src: url(../assets/fonts/PT_Sans_Caption/PTSansCaption-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "PT Sans Caption";
  src: url(../assets/fonts/PT_Sans_Caption/PTSansCaption-Regular.ttf);
  font-weight: 400;
}

@mixin theme($property, $dark-value, $light-value) {
  #{$property}: $dark-value;

  [data-theme="light"] & {
    #{$property}: $light-value;
  }
}
@mixin font($font, $weight) {
  font-family: $font;
  font-weight: $weight;
}

body {
  @include theme(background-color, $main-color-dark, $main-color-light);
  @include theme(color, $text-color-dark, $text-color-light);
  @include font('PT Sans Caption', 400)

}
.store{
  @include font(Pacifico, 400);
  display: block

}
.inputs {
  @include theme(background-color, $secondary-color-dark, $secondary-color-light);
  padding: 25px;
  @include font('PT Sans Caption', 400)
}
label{
  @include font('PT Sans Caption', 700)
  
}

.form-control,
.form-control:focus,
.form-select,
.form-select:focus, .form-control::placeholder{
  @include theme(background-color, $main-color-dark, $main-color-light);
  @include theme(color, $text-color-dark, $text-color-light);
  @include theme(border-color, $border-color-dark, $border-color-light);
}
.form-control:focus-within,.form-select:focus-within {
  @include theme(border-color, $border-color-dark, $border-color-light);
  @include theme(--border-shadow, $border-color-dark, $border-color-light);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--border-shadow);
}
.input-group-text{
  @include theme(background-color, $secondary-color-dark, $secondary-color-light);
  @include theme(color, $text-color-dark, $text-color-light);

}

%button{
  border-radius: 8px;
  background-color: transparent;
  @include theme(border-color, $main-color-dark, $border-color-light);
  @include theme(color, $text-color-dark, $text-color-light);
  
}
.submit{
  @extend %button;
  transition: all 0.5s;
  &:hover{
    @include theme(background-color, $border-color-dark, $border-color-light);
    @include theme(color, $secondary-color-dark, $secondary-color-light);
  }
}
ul{
  list-style-type: none;
}

