$main-color-light: #f9dbba;
$secondary-color-light: #5b99c2;
$text-color-light: #1f316f;
$border-color-light: #1a4870;
$main-color-dark: #0F4C75;
$secondary-color-dark: #3282B8;
$text-color-dark: #1B262C;
$border-color-dark: #BBE1FA;
