$main-color-light: #F5F5F5;
$secondary-color-light: #48CFCB;
$text-color-light: #424242;
$border-color-light: #229799;
$main-color-dark: #1E201E;
$secondary-color-dark: #3C3D37;
$text-color-dark: #ECDFCC;
$border-color-dark: #697565;
